<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a href="../" class="navbar-brand">Bootswatch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="themes">
            <a class="dropdown-item" href="../?theme=cerulean">Default</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="../?theme=cerulean">Cerulean</a>
            <a class="dropdown-item" href="../?theme=darkly">Darkly</a>
            <a class="dropdown-item" href="../?theme=minty">Minty</a>
            <a class="dropdown-item" href="../?theme=solar">Solar</a>
            <a class="dropdown-item" href="../?theme=superhero">Superhero</a>
            <a class="dropdown-item" href="../?theme=yeti">Yeti</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>